<a href="https://colab.research.google.com/github/jamekk0509/firstandroid/blob/master/forpenghoon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
ls '/content/drive/MyDrive'

 book/       'Colab Notebooks'/  'Google Sheets.lnk'   ros20.xlsx
 Classroom/  'Google Docs.lnk'    ros2019.xls          rosc20.xlsx

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
import pandas as pd
import sklearn
print('hello, James, I am working now')

hello, James, I am working now

In [ ]:
df=pd.read_excel('/content/drive/MyDrive/ros2019.xls',  sheet_name=None)
mdf = pd.concat(df, ignore_index=True)
ndf=mdf.loc[mdf['M C'].notnull(),['DATE','DAY','M C']]
sit19=ndf[ndf['M C'].str.contains('SNB')]
sit19

                   DATE  DAY              M C
27  2019-10-23 00:00:00  WED  RAS SNB SUM WXT
28  2019-10-24 00:00:00  THU          RAS SNB

In [ ]:
df=pd.read_excel('/content/drive/MyDrive/ros20.xlsx',  sheet_name=None)
mdf = pd.concat(df, ignore_index=True)
ndf=mdf.loc[mdf['M C'].notnull(),['DATE','DAY','M C']]
sit0=ndf[ndf['M C'].str.contains('SNB')]
sit0

                   DATE  DAY                  M C
11  2020-01-13 00:00:00  MON  PIN RAS SNB JSA SHD
12  2020-01-14 00:00:00  TUE          RAS SNB TPH
13  2020-01-15 00:00:00  WED          BJC SNB TPH
14  2020-01-16 00:00:00  THU      BJC SNB JVB NAN
47  2020-02-06 00:00:00  THU      ARV BJC CST SNB

In [ ]:
df=pd.read_excel('/content/drive/MyDrive/rosc20.xlsx',  sheet_name=None)
mdf = pd.concat(df, ignore_index=True)
ndf=mdf.loc[mdf['M C'].notnull(),['DATE','DAY','M C']]
sit0c=ndf[ndf['M C'].str.contains('SNB')]
sit0c

                    DATE  DAY                        M C
44   2020-03-25 00:00:00  WED   WXT PIN  MQI YTM SNB MAB
45   2020-03-26 00:00:00  THU        WXT YTM PIN SNB ARV
46   2020-03-27 00:00:00  FRI    WXT YTM PIN SNB SUM LSM
47   2020-03-28 00:00:00  SAT                        SNB
73   2020-04-19 00:00:00  SUN                        SNB
74   2020-04-20 00:00:00  MON                CDA MUN SNB
75   2020-04-21 00:00:00  TUE    TKN CDA MUN SNB YMS SUM
76   2020-04-22 00:00:00  WED            SNB YMS CDA ASH
77   2020-04-23 00:00:00  THU            SNB YMS CDA ASH
174  2020-07-16 00:00:00  THU                    SNB SHI
259  2020-09-27 00:00:00  SUN                        SNB
340  2020-12-03 00:00:00  THU  HAZ SHE ASH RIO AZU SNB

In [ ]:
sit = sit0.append(sit19)
sit = sit0c.append(sit)
sit

                    DATE  DAY                        M C
44   2020-03-25 00:00:00  WED   WXT PIN  MQI YTM SNB MAB
45   2020-03-26 00:00:00  THU        WXT YTM PIN SNB ARV
46   2020-03-27 00:00:00  FRI    WXT YTM PIN SNB SUM LSM
47   2020-03-28 00:00:00  SAT                        SNB
73   2020-04-19 00:00:00  SUN                        SNB
74   2020-04-20 00:00:00  MON                CDA MUN SNB
75   2020-04-21 00:00:00  TUE    TKN CDA MUN SNB YMS SUM
76   2020-04-22 00:00:00  WED            SNB YMS CDA ASH
77   2020-04-23 00:00:00  THU            SNB YMS CDA ASH
174  2020-07-16 00:00:00  THU                    SNB SHI
259  2020-09-27 00:00:00  SUN                        SNB
340  2020-12-03 00:00:00  THU  HAZ SHE ASH RIO AZU SNB
11   2020-01-13 00:00:00  MON        PIN RAS SNB JSA SHD
12   2020-01-14 00:00:00  TUE                RAS SNB TPH
13   2020-01-15 00:00:00  WED                BJC SNB TPH
14   2020-01-16 00:00:00  THU            BJC SNB JVB NAN
47   2020-02-06 00:00:00  THU            ARV BJC CST SNB
27   2019-10-23 00:00:00  WED            RAS SNB SUM WXT
28   2019-10-24 00:00:00  THU                    RAS SNB

In [ ]:
#@title
sit

                    DATE  DAY                        M C
44   2020-03-25 00:00:00  WED   WXT PIN  MQI YTM SNB MAB
45   2020-03-26 00:00:00  THU        WXT YTM PIN SNB ARV
46   2020-03-27 00:00:00  FRI    WXT YTM PIN SNB SUM LSM
47   2020-03-28 00:00:00  SAT                        SNB
73   2020-04-19 00:00:00  SUN                        SNB
74   2020-04-20 00:00:00  MON                CDA MUN SNB
75   2020-04-21 00:00:00  TUE    TKN CDA MUN SNB YMS SUM
76   2020-04-22 00:00:00  WED            SNB YMS CDA ASH
77   2020-04-23 00:00:00  THU            SNB YMS CDA ASH
174  2020-07-16 00:00:00  THU                    SNB SHI
259  2020-09-27 00:00:00  SUN                        SNB
340  2020-12-03 00:00:00  THU  HAZ SHE ASH RIO AZU SNB
11   2020-01-13 00:00:00  MON        PIN RAS SNB JSA SHD
12   2020-01-14 00:00:00  TUE                RAS SNB TPH
13   2020-01-15 00:00:00  WED                BJC SNB TPH
14   2020-01-16 00:00:00  THU            BJC SNB JVB NAN
47   2020-02-06 00:00:00  THU            ARV BJC CST SNB
27   2019-10-23 00:00:00  WED            RAS SNB SUM WXT
28   2019-10-24 00:00:00  THU                    RAS SNB

# New Section